#imgba {
    height: 50px;
    padding-left: 60px;
    
}

#ba {
    color:rgb(231, 231, 225);
    font-size: 18px;
    padding-top: 15px;
}

#lc {
    color:rgb(237, 234, 234);
    font-size: 14px;
    padding-top:20px;
    padding-left: 200px;
}

#lo {
    color: rgb(142, 140, 140);
    font-size:14px;
    padding-top: 20px;
    padding-left:12px;
}

#ella {
    color: rgb(142, 140, 140);
    font-size:14px;
    padding-top: 20px;
    padding-left:12px;

}

#co {
    color: rgb(142, 140, 140);
    font-size:14px;
    padding-top: 20px;
    padding-left:12px;
}

#ct {
    color: rgb(78, 153, 75);
    font-size:14px;
    padding-top: 20px;
    padding-left:12px;
}


#imgb1 {
    max-height: 600px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: -40px;
    
    z-index: -1;
    filter: brightness(50%);
   

}

#p1 {
    color: #fff;
    font-size: 13.6px;
    font-weight: 400;
    padding-right: 85px;
    text-align: right;
}

#h2 {
    color: #fff;
    padding-top: 155px;
    padding-right: 85px;
    text-align: right;
}

.button {
    color: #fff;
    text-align: right;
    padding-right: 95px;
    font-size:14px;
  
    
}
#b1 {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 5px;
}
#b2 {
    color: rgb(227, 225, 225);
    background-color:#219142;
    border: 0.5px solid rgb(33, 108, 35);
    border-radius: 3px;
    padding: 6px;
}



#PC {
    padding-top: 150px;
    text-align: center;
    color:black;
    font-size:10px;
    padding-bottom:0px;
}

#OR {
    text-align: center;
    color:rgb(35, 34, 34);
    font-size:25px;
    padding-top:0%;
    z-index: 2;
    margin-top:0px;
    line-height:0px;
    padding-bottom:5px;
}


.container {
   
    
    padding-top: 10px;
    display:flex;
    
}

.column {
    width: 300px;
    padding-left:25px;
    position: relative;
    
    
  
    
    
}
